# Python Training Basics for Data Visualization- Week 1 Excercise

Please attempt all questions

In [1]:
%%HTML
<iframe width="560" height="315" 
        src="https://www.youtube-nocookie.com/embed/R570j9oBBZg?si=bDi7YTD60XGC1xvX" 
        </iframe>

## Question 1
Create a variable called "name" and assign it the value of your name as a string.  
Then print "Hello my name is {name}".

***Hint: Use formatted string***

In [2]:
# write code here
name = 'ore'

print('Hello my name is ', name)

Hello my name is  ore

In [3]:
print('Hello my name is ' + name)

Hello my name is ore

In [5]:
print(f'Hello my name is {name}')

Hello my name is ore

In [6]:
print('Hello my name is ore')

Hello my name is ore

## Question 2
Write a program to find how many times substring “Emma” appears in txt.

In [8]:
txt = """
Emma sat at her desk, staring at the blank page in front of her. 
She had been tasked with writing a paper on Emma by Jane Austen, 
but her mind was drawing a blank. She decided to take a break and make herself a cup of tea. 
As she sipped her tea, she couldn't help but think about the main character of the book, Emma Woodhouse. 
Emma Woodhouse was a strong-willed and independent woman, much like herself. Emma smiled to herself, 
feeling a newfound appreciation for the book. 
She returned to her desk and began typing away, determined to do justice to the character of Emma. 
As she wrote, she couldn't help but notice the similarities between herself and Emma Woodhouse. 
Both were strong-willed and independent, but also had a tendency to be a little too confident in their own abilities. 
Emma couldn't help but chuckle at the irony of it all. She continued to write, feeling more and more connected to the character of Emma as she did so. 
Emma was truly an inspiration to her, and she was grateful to have the opportunity to write about her. 
Emma Woodhouse, Emma thought, was truly one of literature's greatest heroines.
"""

In [12]:
#write code here
txt.count('Emma')

12

In [10]:
txt.count('at')

9

## Question 3
Create a new list without duplicates  

Print out the length of the list before and after removing duplicates

In [13]:
dup_col = ['green', 'blue', 'white', 'red', 'green', 'purple', 'blue', 'yellow' ]

In [14]:
#write code here

print(len(dup_col))

non_dup = list(set(dup_col))
print(len(non_dup))
non_dup

8
6

['purple', 'yellow', 'white', 'green', 'red', 'blue']

## Question 4
Create a dictionary using the  keys and value  lists

***hint**: use zip function*

In [16]:
keys= ['key1', 'key2', 'key3', 'key4', 'key5']
values = ['value1', 'value2', 'value3', 'value4', 'value5']

In [19]:
# write code here

my_dict = dict(zip(keys, values))
my_dict

{'key1': 'value1',
 'key2': 'value2',
 'key3': 'value3',
 'key4': 'value4',
 'key5': 'value5'}

## Question 5
Write a program that Outputs :  
The  GNI Python course starts from : 21/01/2022 and ends  11/02/2023, using the variables course_st_date and course_end_date

In [20]:
course_st_date = '21, 01, 2023'
course_end_date = '11, 2, 2023'

#write code here
#hint: use replace method

In [21]:
course_st_date.replace(', ', '/')

'21/01/2023'

In [22]:
course_st_date = course_st_date.replace(', ', '/')
course_end_date = course_end_date.replace(', ', '/')
print(f'The GNI Python Course starts from {course_st_date} to {course_end_date}')

The GNI Python Course starts from 21/01/2023, to 11/2/2023

In [24]:
print('The GNI Python Course starts from '  + course_st_date+ ' to ' + course_end_date)

The GNI Python Course starts from 21/01/2023 to 11/2/2023

## Question 6
* Count all letters and digits in **code**  
* Check if a string/character is an alphabet   
* Check if a string/character is a digit   
* Calculate the sum and average of the digits present in a string  

*Hints: isalpha() and isdigit()*

In [39]:
code = 'LKJ1234DG56GX9TV'
alpha = []
digits = []
for t in code:
    if t.isalpha():
        alpha.append(t)
    elif t.isnumeric():
        digits.append(int(t))

In [40]:
alpha

['L', 'K', 'J', 'D', 'G', 'G', 'X', 'T', 'V']

In [41]:
digits

[1, 2, 3, 4, 5, 6, 9]

In [38]:
print(sum(digits))

30

In [42]:
print(sum(digits)/ len(digits))

4.285714285714286

## Question 7
* Print out the length of the list
* Sort List using the last letter in each item

In [43]:
animals = ['Tiger', 'Bear', 'Elephant', 'Giraffe', 'Zebra', 'Gorilla', 
            'Monkey', 'Hippopotamus', 'Crocodile', 'Shark', 'Dolphin', 'Deer', 'Elk' ]

In [45]:
#write code here
print(len(animals))

13

In [46]:
animals.sort(reverse=True)
animals

['Zebra',
 'Tiger',
 'Shark',
 'Monkey',
 'Hippopotamus',
 'Gorilla',
 'Giraffe',
 'Elk',
 'Elephant',
 'Dolphin',
 'Deer',
 'Crocodile',
 'Bear']

In [47]:
def lastword (x):
    return x[-1]

In [48]:
animals.sort(key=lastword)
animals

['Zebra',
 'Gorilla',
 'Giraffe',
 'Crocodile',
 'Shark',
 'Elk',
 'Dolphin',
 'Tiger',
 'Deer',
 'Bear',
 'Hippopotamus',
 'Elephant',
 'Monkey']

In [49]:
animals.sort(key=lambda x: x[-1])
animals

['Zebra',
 'Gorilla',
 'Giraffe',
 'Crocodile',
 'Shark',
 'Elk',
 'Dolphin',
 'Tiger',
 'Deer',
 'Bear',
 'Hippopotamus',
 'Elephant',
 'Monkey']

## Question 8

https://www.w3schools.com/python/python_for_loops.asp  
Create two empty lists called even_num and odd_num  
Loop through range of numbers from 1-50 and collect all even number to even_num and odd numbers to odd_num

In [55]:
6%2

0

In [57]:
#write code here
even_num = []
odd_num = []

for r in range(50):
    if r%2 ==0:
        even_num.append(r)
    else:
        odd_num.append(r)

In [58]:
even_num

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48]

In [59]:
odd_num

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49]

## Question 9
Create a function that takes in radius of a circle as arguement and returns the area of the circle

In [60]:
#Write code here

def area_of_circle(radius):
    pi = 22/7
    return pi * radius**2

In [61]:
area_of_circle(7)

154.0

In [62]:
import math

def area_of_circle2(r):
    area = math.pi * r* r
    return area

In [63]:
area_of_circle2(7)

153.93804002589985

## Question 10
Create a function called 'square' that takes in a number as arguement and returns the square of the number.

In [68]:
#write code here
def square(num):
    sq = num**2
    num + 2
    return sq

In [66]:
square(9)

81