# Learning a Language

* Terms
* Data Types
* Actions (Functions)
* Best Practices

## Variables
* Variables are used to store information
* Assigning/creating a variable is also called 'Variable Declaration'
* You can use letters, digits & underscore in variable names
* it is case sensistive

Youtube video


https://youtu.be/ydau2STMB80?si=E7ZJTw0mJVhEgscv

In [1]:
x = 2

In [2]:
x

2

In [3]:
x = 12 + 5

In [4]:
x

17

In [5]:
y = 7
z = x* y
z

119

In [6]:
Y

NameError: name 'Y' is not defined

In [7]:
y

7

In [8]:
my_name = 'Promise'

In [9]:
my_2nd_name = 'Precious'

In [10]:
my_name

'Promise'

## Data Types
* Integers
* Floats
* Strings
* Bool
* List
* tuple
* Set
* Dictionary

In [11]:
# Integers are numbers

x =2

type(x)

int

In [13]:
type(10)

int

In [14]:
# Floats are decimals

y = 12.0
type(y)

float

In [16]:
# strings are letters
# They are specified using single or double quotations

my_name = 'promise'
my_surname = "ekeh"

type(my_name)
type(my_surname)

str

In [17]:
# Boolean /Bool are true or false

z = True
w = False

In [18]:
type(z)

bool

In [19]:
type(w)

bool

In [20]:
# lists are used to store multiple items in a single variable
# Used to store collection of data
# They are created using square brackets []

my_list = [1, 2, 4, 5, 7]
type(my_list)

list

In [22]:
# Tuples are used to store multiple items
# there are created with curved/round brackets ()
# They are immutable i.e. cannot be changed

my_tuple = (1, 2, 4, 5, 7)
type(my_tuple)

tuple

In [23]:
# sets are also used to store multiple items
# sets are unordered/unindexed and unchangeable
# They are created using curly brackets

my_set = {'james', 'john', 'mathew', 'luke'}
type(my_set)

set

In [25]:
my_list[2]

4

In [27]:
my_tuple[4]

7

In [29]:
my_set[2]

TypeError: 'set' object is not subscriptable

In [30]:
# Dictinaries are used to store multiple items in key:value pair
# They are ordered, changeable but don't allow duplicates
# Created using curly brackets {}


my_dict = {'First_Name': 'Promise',
          'Surname': 'Ekeh',
          'Nationality': 'Nigerian'}

In [31]:
type(my_dict)

dict

In [32]:
my_dict

{'First_Name': 'Promise', 'Surname': 'Ekeh', 'Nationality': 'Nigerian'}

## Arithmetic Operations
* Addition
* Subtraction
* Division
* Multiplication


https://youtu.be/72ZdY8qZeu0?si=wmBy-9Ngx8Un0puy

In [35]:
x = 3
y = 10
z = x + y
z

13

In [36]:
x * y

30

In [37]:
x -y

-7

In [38]:
y/x

3.3333333333333335

In [39]:
y//x

3

In [42]:
10//4

2

In [46]:
#remainder
y%x

1

In [44]:
y/4

2.5

In [47]:
y ** x

1000

In [49]:
## Adding strings
my_name + ' ' + my_surname

'promise ekeh'

In [52]:
my_name + ' ' + str(y)

'promise 10'

In [55]:
second_list = ['cat', 'dog', 'snake']

In [56]:
my_list + second_list

[1, 2, 4, 5, 7, 'cat', 'dog', 'snake']

### Double equality sign ==

In [57]:
 x == 7

False

In [58]:
 my_name == 'Promise'

False

In [59]:
my_name == 'promise'

True

### Maths Functions

In [64]:
round(34.6)

35

In [66]:
abs(-40)

40

In [69]:
import math

In [70]:
math.sqrt(49)

7.0

### Indexing